//media query
$h1-normal-size: 20px;
$h1-sscreen-size: 14px;
$small-screen: 320px;


h1 {
    font-size: $h1-normal-size
}

@media screen and (max-width: $small-screen) {
    h1 {
        font-size: $h1-sscreen-size
    }
}